
@font-face {
    font-family: 'Futura';
    src: url("../ttf/futura\ medium\ bt.ttf");
}
@font-face {
    font-family: 'Machine';
    src: url("../ttf/PPNeueMachina-Regular.otf");
}
@font-face{
    font-family: 'Open Sans';
    src: url('../ttf/OpenSans-Regular.ttf')
}

:root{
    font-family: 'Open Sans';
    font-weight: 300;
}

/* .fc .fc-col-header-cell-cushion {
    display: inline-block;
    color: pink;
  } */

.fc .fc-toolbar-title {
    font-family: 'Futura';
    color: black;
    font-size: 3.75rem;
}

.fc .fc-event {
    background-color: rgba(30, 226, 98, 0.354);
    border: 0.15rem solid #1DB954;
    font-family: 'Open Sans';
}
.fc .fc-event-main {
    color: black; 
    font-weight: 350;
    text-align: center;
}


/* month, week, day buttons */
.fc .fc-button-group button {
    margin-right: 1.75rem;
}
.fc .fc-dayGridMonth-button,
.fc .fc-timeGridWeek-button,
.fc .fc-timeGridDay-button{
    border-radius: .3rem !important;
    border: .2rem solid rgb(62, 91, 255) !important;
    background-color: rgba(83, 108, 255, 0) !important;
    color: black !important;
    font-weight: bold !important;
}
