.typewriter {
    z-index: 100;
    overflow: hidden;
    /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange;
    /* The typwriter cursor */
    white-space: nowrap;
    /* Keeps the content on a single line */
    margin: 0 auto;
    /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em;
    /* Adjust as needed */
    animation:
        typing 3.5s steps(38, end),
        blink-caret 0.65s step-end infinite;
    font-family: 'Open Sans';
    font-weight: 500;
    box-shadow: 0.5rem 0.3rem 1.2rem rgba(56, 82, 255, 1);
    background-color: white;
    color: black;
    transform: skew(-15deg); /* Skew the div */
}

/* The typing effect */
@keyframes typing {
    from {
        width: 0
    }

    to {
        width: 35%
    }
}

/* The typewriter cursor effect */
@keyframes blink-caret {

    from,
    to {
        border-color: transparent
    }

    50% {
        border-color: orange;
    }
}


@font-face {
    font-family: 'fancy';
    src: url("../ttf/CHRISTMAS\ COMEBACK.otf");
}

@font-face {
    font-family: 'Montserrat';
    src: url("../ttf/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: 'Open Sans';
    src: url('../ttf/OpenSans-Regular.ttf')
}

.font {
    /* font-family: 'Open Sans'; */
    font-family: 'Montserrat';
    background-image: url("winter.jpg");
    background-size: cover;
    color: white;
}

/* title */
.fancy-font {
    font-size: 7rem;
    font-weight: bold;
    display: inline-block;
    animation: wave 2s infinite;
    background: #171ad6;
    /* linear-gradient(to bottom right, #f43e54, #f46e9b, #ffa3c0, #6ee1bd, #32c999, #2181a5); */
    -webkit-background-clip: text;
    text-shadow: 0 0 2rem rgba(93, 121, 229, 0.9);
    color: transparent;
    z-index: 200;
}

@keyframes wave {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(2deg);
    }

    75% {
        transform: rotate(-2deg);
    }
}


.events-btn {
    font-weight: bold;
    color: white;
    background-color: #3852ff;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    z-index: 100 !important;
}
.events-btn:hover {
    background-color: #ffa538;
}

@keyframes animate {

    0% {
        transform: translateY(0);
        border-radius: 50%;
    }

    100% {
        transform: translateY(-1000px);
        border-radius: 50%;
    }

}


.circles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1;
}

.circles li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.8);
    animation: animate 25s linear infinite;
    pointer-events: none;
    bottom: -10rem;
    border-radius: 50%;
    box-shadow: 0 0 10px white, 0 0 30px white, 0 0 50px white;
}

.circles li:nth-child(1) {
    left: 0%;
    width: 1.1rem;
    height: 1.1rem;
    animation-delay: 2s;
    animation-duration: 10s;
}


.circles li:nth-child(2) {
    left: 10%;
    width: .5rem;
    height: .5rem;
    animation-delay: 5s;
    animation-duration: 12s;
}

.circles li:nth-child(3) {
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 1s;
    animation-duration: 9s;

}

.circles li:nth-child(4) {
    left: 30%;
    width: 1rem;
    height: 1rem;
    animation-duration: 9s;
}

.circles li:nth-child(5) {
    left: 65%;
    width: .25rem;
    height: .25rem;
    animation-delay: 3s;
    animation-duration: 12s;
}

.circles li:nth-child(6) {
    left: 75%;
    width: .4rem;
    height: .4rem;
    animation-duration: 15s;
 
}

.circles li:nth-child(7) {
    left: 39%;
    width: .8rem;
    height: .8rem;
    animation-delay: 4s;
    animation-duration: 12s;
}

.circles li:nth-child(8) {
    left: 55%;
    width: .2rem;
    height: .2rem;
    animation-duration: 11s;
}

.circles li:nth-child(9) {
    left: 20%;
    width: 0.75rem;
    height: 0.75rem;
    animation-delay: 1.5s;
    animation-duration: 16s;
}

.circles li:nth-child(10) {
    left: 92%;
    width: .65rem;
    height: .65rem;
    animation-duration: 8s;

}
.circles li:nth-child(11) {
    left: 87%;
    width: .6rem;
    height: .6rem;
    animation-delay: 5s;
    animation-duration: 10s;

}
.circles li:nth-child(12) {
    left: 5%;
    width: 0.5rem;
    height: 0.5rem;
    animation-delay: 5s;
    animation-duration: 10s;

}
.circles li:nth-child(13) {
    left: 45%;
    width: .61rem;
    height: .61rem;
    animation-delay: 2s;
    animation-duration: 8s;

}
.circles li:nth-child(14) {
    left:24%;
    width: .27rem;
    height: .27rem;
    animation-duration: 16s;

}
.circles li:nth-child(15) {
    left: 95%;
    width: .3rem;
    height: .3rem;
    animation-delay: 3s;
    animation-duration: 10s;

}
.circles li:nth-child(16) {
    left: 80%;
    width: .8rem;
    height: .8rem;
    animation-duration: 9s;

}
.circles li:nth-child(17) {
    left: 99%;
    width: .3rem;
    height: .3rem;
    animation-duration: 9s;

}
.circles li:nth-child(18) {
    left: 57%;
    width: .5rem;
    height: .5rem;
    animation-duration: 10s;

}
.circles li:nth-child(19) {
    left: 42%;
    width: .8rem;
    height: .8rem;
    animation-duration: 11s;
    animation-delay: 3s;

}
.circles li:nth-child(20) {
    left: 68%;
    width: .7rem;
    height: .7rem;
    animation-duration: 12s;

}
.circles li:nth-child(21) {
    left: 21%;
    width: .39rem;
    height: .39rem;
    animation-duration: 8s;

}
