.day-popup{
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}
body.active-modal{
    overflow-y: hidden;
}
.modal, .overlay{
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    z-index: 100;
}
.overlay{
    background: rgba(49,49,49,0.7);
}

.event-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 1.5rem 1.5rem 3.5rem 1.5rem;
    border-radius: 0.3rem;
    max-width: 100vw;
    min-width: 100vh;
}

.close{
    background-color: rgb(229, 94, 94);
    border-radius: 0.2rem;
    padding: 0.3rem 0.3rem;
    position: absolute;
    top: 7.5rem;
}